<script lang="ts">
  import type {Family, FamilyCreateRequest} from '@lib/types'
  import {addFamily} from '@lib/api'
  import {familyRepaint} from '@lib/myStore'

  let formError = false;

  function handleSubmit(event: SubmitEvent) {
    event.preventDefault();
    formError = false;

    const form = event.target as HTMLFormElement;
    const formData = new FormData(form);

    const family: FamilyCreateRequest = {
      name: formData.get('name') as string,
      description: formData.get('description') as string
    };

    addFamily(family).then(() => {
      familyRepaint.update(x=>x+1);
      form.reset();
    })
      .catch((error) => {
        console.log(error);
        formError = true;
      });
  }
</script>

<form class="family-form" on:submit={handleSubmit}>
  <h1>Dodaj Rodzinę</h1>
  <input type="text" placeholder="Name" name="name" />
  <textarea placeholder="Description" name="description"></textarea>
  <input type="submit" value="Add">
  {#if formError}
    <p>Failed to add family</p>
  {/if}
</form>

<style lang="less">
  @import '/src/theme.less';
  
  .family-form {
    flex: 1 0;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding: 1em;
    border: 5px dashed @color-secondary-3;
    margin-bottom: 1lh;
    padding: 1.75em;
    border-radius: 1em;
    justify-content: center;
  }

  input[type="submit"] {
    padding: 0.5em;
    background-color: @color-secondary-2;
    border: 1px solid black;
    border-radius: 0.5em;
  }
</style>