<script lang="ts">
  import type {Species} from '@lib/types';
  import missingPhoto from '@assets/missing_photo.png'
  import placeholderIcon from '@assets/icons/species_icon_palm.png'
  import {deleteSpecies} from '@lib/api'
  import {speciesRepaint} from '@lib/myStore'

  export let species: Species;



  let contextMenuVisible = false;

  function showContextMenu(event: MouseEvent) {
    event.preventDefault();
    contextMenuVisible = true;
  }

  function hideContextMenu() {
    contextMenuVisible = false;
  }

  function onDeleteClick() {
    console.log(`Deleting species: ${species.name}`);
    deleteSpecies(species.id).then(() => {
      speciesRepaint.update(x => x + 1);
    });
    hideContextMenu();
  }
</script>

<section on:contextmenu={showContextMenu} on:click={hideContextMenu}>
  <img class="species-image" src="{missingPhoto}" alt="Species preview">
  <div class="content">
    <header class="header">
      <h1>{species.name}</h1>
      <h2>{species.family.name}</h2>
      <img class="family-icon" src="{placeholderIcon}" alt="{species.family.name}">
    </header>
    <p>{species.description}</p>
  </div>
  {#if contextMenuVisible}
    <div class="context-menu">
      Czy na pewno chcesz usunąć <i>{species.name}</i>?
      <br>
      <button on:click={onDeleteClick}>USUŃ</button>
      <button>Nie</button>
    </div>
  {/if}
</section>

<style lang="less">
    @import '/src/theme.less';
    
    .context-menu {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        background: rgba(150, 0, 0, 0.5);
        border: 1px solid black;
        padding: 1em;
        font-size: 1.5em;
        font-weight: bold;
        color: white;
        text-shadow: black 0 0 0.1em;

        align-content: center;
        animation: 
            1s 
            linear 
            0s 
            infinite
            running
            remove-animation;
    }

    section {
        z-index: 1;
        position: relative;
        display: flex;
        flex-direction: column;

        padding: 0.5em;
        aspect-ratio: 1 / 1;

        font-size: 1.2rem;
        overflow: hidden;

        border: 1px solid black;
        

        &>* {
            flex: 1 0;
        }

        &::after {
            content: '';
            position: absolute;
            z-index: -1;
            top: -50%;
            left: -50%;
            right: -50%;
            bottom: -50%;

            animation: 
                5s 
                linear 
                0s 
                infinite
                running
                border-rotation;
            
            animation-play-state: paused;
            
            background-image: 
                linear-gradient(
                    45deg, 
                    #aaffa5 0%,@color-primary-2 35%,
                    #aaffa5 50%,
                    @color-primary-2 65%,#aaffa5 100%);
                // linear-gradient(
                //     45deg, #00ff00, #003300);
                
        
        }
        &:hover {
            transform: scale(1.05);

            &::after {
                animation-play-state: running;
            }
        
        }
    }
    .content {
        margin-top: 1em;
        max-height: calc(50% - 1em);
    }

    .header {
        display: grid;
        grid-template-columns: 1fr 10%;
    }

    img {
        width: 100%;
        border: 1px solid black;
    }

    .species-image {
        width: 100%;
        aspect-ratio: 2 / 1;
        flex: 0 1;
        object-fit: cover;
    }

    h1, h2 {
        white-space: nowrap;
        text-align: left;
        padding: 0;
        padding-left: 0.25rem;
        text-shadow: white 0 0 0.1em;
        margin: 0;
    }
    h1 {
        font-size: 1.5em;
        grid-column: 1 / 2;
        grid-row: 1;
    }
    h2 {
        font-size: 1.2em;
        grid-column: 1 / 2;
        grid-row: 2;
    }
    .family-icon {
        grid-column: 2 / 3;
        grid-row: 1 / 3;
        border-radius: 0 0 0 0.2em;
    }
    p {
        height: 100%;
        margin: 0;
        padding: 0 0.25rem;
        font-size: 1em;
        grid-column: 1 / 3;
        grid-row: 3;
        line-clamp: 3;
        
        text-overflow: ellipsis;
        overflow: hidden;
        align-self: start;
        text-align: justify;
        text-shadow: white 0 0 0.1em;
    }
    @keyframes border-rotation {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }
    @keyframes remove-animation {
        from {
            background: rgba(150, 0, 0, 0.5);
        }
        50% {
            background: rgba(200, 0, 0, 0.5);
        }
        to {
            background: rgba(150, 0, 0, 0.5);
        }
    }
</style>