<script lang="ts">
  import type {Family, SpeciesCreateRequest} from '@lib/types'
  import {getFamilies, addSpecies} from '@lib/api'
  import type { EventHandler } from 'svelte/elements';
  import {familyRepaint, speciesRepaint} from '@lib/myStore'

  let formError = false;

  let generateFamilies = () => sendFamiliesRequest();
  familyRepaint.subscribe(() => {
    generateFamilies = () => sendFamiliesRequest();
  });

  async function sendFamiliesRequest() : Promise<Family[]> {
    const families = (await getFamilies()).body;
    console.log("generateFamilies", families);
    return families.items;
  }

  function handleSubmit(event: SubmitEvent) {
    event.preventDefault();

    const form = event.target as HTMLFormElement;
    const formData = new FormData(form);

    const species: SpeciesCreateRequest = {
      name: formData.get('name') as string,
      description: formData.get('description') as string,
      family: formData.get('family') as string
    }

    addSpecies(species).then(() => {
      speciesRepaint.update(x=>x+1);
      form.reset();
    }).catch((error) => {
      console.log(error);
      formError = true;
    });
  }
</script>

<form class="species-form" on:submit={handleSubmit}>
  <h1>Dodaj Gatunek</h1>
  <input type="text" name="name" placeholder="Name" />
  <select class="family-select" name="family">
    {#await generateFamilies()}
      <option disabled selected>Loading...</option>
    {:then families}
      {#each families as family}
        <option value={family.id}>{family.name}</option>
      {/each}
    {:catch error}
      <option disabled selected>{error.message}</option>
    {/await}
  </select>
  <textarea placeholder="Description" name="description"></textarea>
  <input type="submit" value="Add">
  {#if formError}
    <p>Failed to add species</p>
  {/if}
</form>

<style lang="less">
  @import '/src/theme.less';
  
  .species-form {
    flex: 1 0;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding: 1em;
    border: 5px dashed @color-secondary-3;
    margin-bottom: 1lh;
    padding: 1.75em;
    border-radius: 1em;
    justify-content: center;
  }

  .family-select {
    padding: 0.5em;
  }

  input[type="submit"] {
    padding: 0.5em;
    background-color: @color-secondary-2;
    border: 1px solid black;
    border-radius: 0.5em;
  }
</style>