<script lang="ts">
  import type {LoginRequest} from '@lib/types'
  import logo from '@assets/logo.png'
  import {login as loginApi} from '@lib/api'
  import {login, logout, subscribeAuthState, type Session} from '@lib/auth'

  let isLogged = false;
  subscribeAuthState((state: Session) => {
    isLogged = state.isLogged;
  });

  function onLogin(event: SubmitEvent) {
    event.preventDefault()
    let username = event.target?.username.value;
    let password = event.target?.password.value;
    let loginRequest: LoginRequest = {username, password};
    console.log("LOGIN: ", loginRequest);
    loginApi(loginRequest)
      .then(response => {
        if (response.status === 200) {
          login(username);
        }
      })
      .catch(error => {
        console.error(error);
      });
  }
</script>

<nav>
  <div class="nav-container">
    <a href="/" class="logo">
      <img src={logo} alt="logo">
    </a>
    {#if isLogged}
      <a href="/logout" on:click={logout}>Logout</a>
    {:else}
      <form on:submit={onLogin}>
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <button type="submit">Login</button>
      </form>
    {/if}
  </div>
</nav>

<style lang="less">
    @import '/src/theme.less';
    
    nav {
        max-width: 1280px;
        height: 2lh;
        padding: 0.5em;
        border: 1px solid black;
        border-radius: 1em;

        background-image: 
        repeating-linear-gradient(
            45deg, 
            @color-secondary-2 0px, @color-secondary-3 125px, @color-secondary-2 250px);
    }

    .nav-container {
        width: 100%;
        height: 100%;
        border-radius: 0.5em;

        display: flex;
        justify-content: space-between;
        align-items: center;

        background-color: @color-secondary-1;
        & > *:first-child {
            border-radius: 0.5em 0 0 0.5em;
        }
        & > *:last-child {
            border-radius: 0 0.5em 0.5em 0;
        }
    } 

    a {
        box-sizing: border-box;
        padding: 1em;
        display: flex;
        height: 100%;
        text-decoration: none;
        justify-content: center;
        align-items: center;

        &:hover {
            background-color: rgba(0,0,0,0.1);
        }
    }

    img {
        height: 100%;
    }

    .logo {
        margin-right: auto;
        padding: 0;
    }
    
</style>