@import '/src/theme.less';

:root {
  font-family: 
  "Caveat", cursive,
    serif, system-ui;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */
  color: rgba(0, 0, 0, 0.87);
  background-color: #f9f9f9;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: url("/cursor.png"), auto;
}

button, a:link, input[type="submit"], input[type="button"], select, option {
  cursor: url("/cursor-pointer.png"), pointer !important;
}
input[type="text"], input[type="email"], input[type="password"], textarea {
  cursor: url("/cursor-text.png"), text !important;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-image: url("/bg.png");
  background-repeat: repeat-y;
  background-size: 100vw auto;
}

h1 {
  font-size: 2em;
  line-height: 1.1;
  margin: 0;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

input, select, textarea {
  background-color: @color-primary-1;
  color: @color-primary-fg;
  padding: 0.5em;
  border: 1px solid @color-primary-3;
  border-radius: 0.5em;
}



button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
