<script lang="ts">
  import type {Species} from '@lib/types'
  import {getSpecies, getFamilies} from '@lib/api'
  import {subscribeAuthState, type Session} from '@lib/auth'

  import TopBar from '@components/TopBar.svelte'
  import SpeciesCard from '@components/SpeciesCard.svelte'
  import SpeciesForm from '@components/SpeciesForm.svelte';
  import FamilyForm from '@components/FamilyForm.svelte';
  import {speciesRepaint} from '@lib/myStore'

  let isLogged = false;
  subscribeAuthState((state: Session) => {
    isLogged = state.isLogged;
  });

  let generateSpecies = () => sendSpeciesRequest();
  speciesRepaint.subscribe(() => {
    generateSpecies = () => sendSpeciesRequest();
  });

  async function sendSpeciesRequest() : Promise<Species[]> {
    const species = (await getSpecies()).body;
    console.log("generateSpecies", species);
    return species.items;
  }

</script>

<TopBar />
<div class="page-container">
  <div class="main-container">
    {#if !isLogged}
      <h1>Log in to see the content</h1>
    {:else}
      <article class="forms">
        <FamilyForm />
        <SpeciesForm />
      </article>
      <main>
          <article>
            <h1>Roslinki</h1>
            <div class="species">
              {#await generateSpecies()}
                <p>Loading...</p>
              {:then species}
                {#each species as species}
                  <SpeciesCard {species} />
                {/each}
              {:catch error}
                <p>{error.message}</p>
              {/await}
            </div>
          </article>
      </main>
    {/if}
  </div>
</div>

<style lang="less">
  @import '/src/theme.less';
  
  .page-container {
    margin-top: 3em;
    background-image: 
      repeating-linear-gradient(
        45deg, 
        @color-secondary-2 0px, @color-secondary-3 125px, @color-secondary-2 250px);
    padding: 0.5em;
    border: 1px solid black;
    border-radius: 1.5em;
  }
  .main-container {
    padding: 2.5em;
    background-color: @color-secondary-1;
    border-radius: 1em;
  }

  .forms {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
    margin-bottom: 1lh;
    justify-content: center;
  }

  .form {
    background-color: red !important;
  }

  h1 {
    font-size: 4em;
    text-shadow:  0 0 0.5em;
    margin-bottom: 1lh;
  }
  .species {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18em, 1fr));
    gap: 2.5em;
    border: 5px dashed @color-secondary-3;
    padding: 1.75em;
    box-sizing: border-box;
  }
</style>
