@color-primary-1: #aaffa5;
@color-primary-2: #3be941;
@color-primary-3: #1f9d1f;
@color-primary-fg: #000000;
@color-primary-text-shadow: #ffffff;

@color-secondary-1: #aaebf2;
@color-secondary-2: #60efff;
@color-secondary-3: #28b1ec;
@color-secondary-fg: #000000;
@color-secondary-text-shadow: #ffffff;
